.shine {
  text-shadow: 0 0em .1em rgba(255, 255, 255, .5);
}

.intro__bokeh {
  height: 100vh;
  width: 100vw;
  background-color: #6418f7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(50px);
  transform: translateZ(0);
  backface-visibility: hidden;
}

.fade {
  --fade-amount: 15%;
  mask-image: linear-gradient(to bottom, black var(--fade-amount), black calc(100% - var(--fade-amount)), transparent)
}

.intro__bokeh circle {
  animation: rotate 6s linear infinite;
  fill: #fff;
  opacity: 0.43;
  transform-origin: 50%;
}
.intro__bokeh circle:nth-child(2n) {
  fill: #7d70f6;
  transform-origin: 20% 110%;
  animation-delay: -3s;
  animation-duration: 4.1316s;
  opacity: 0.2;
}
.intro__bokeh circle:nth-child(3n) {
  opacity: 0.65;
  fill: #D100FF;
  transform-origin: 70% 30%;
  animation-delay: -1.5s;
  animation-duration: 7.9998s;
}
.intro__bokeh circle:nth-child(4n) {
  fill: #ec22f6;
  transform-origin: 110% 70%;
  animation-delay: -2s;
  animation-duration: 4.77996s;
}
.intro__bokeh circle:nth-child(5n) {
  fill: #b2b1f5;
  transform-origin: 30% 40%;
}
.intro__bokeh circle:nth-child(6n) {
  fill: #b82df7;
  transform-origin: -10% 80%;
  animation-delay: -7.8s;
}
.intro__bokeh circle:nth-child(7n) {
  fill: #7d70f6;
  transform-origin: 70% -10%;
}
.intro__bokeh circle:nth-child(8n) {
  fill: #ec22f6;
  transform-origin: -30% 50%;
  animation-delay: -2.4s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}